.navbar-container {
  width: 100%;
  height: 116px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-navbar-interactive {
  up: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
}
.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: 20%;
  object-position: left;
}
.navbar-desktop-menu {
  display: flex;
}
.navbar-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  object-position: center;
}
.navbar-navlink {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-link {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-link1 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
  width: 16px;
  height: 16px;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.navbar-image {
  width: 50px;
  height: 50px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon2 {
  width: 16px;
  height: 16px;
}
.navbar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 20%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  object-position: right;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navbar-text {
  font-size: 18px;
}







@media(max-width: 1600px) {
  .navbar-navbar-interactive {
    max-width: 100%;
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: 0px;
  }
  .navbar-cta-btn {
    margin-left: 0%;
  }
}
@media(max-width: 1200px) {
  .navbar-navbar-interactive {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: 0px;
  }
  .navbar-cta-btn {
    align-self: flex-start;
    margin-left: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: var(--dl-space-space-unit);
  }
  .navbar-navlink {
    margin-left: 0px;
  }
  .navbar-link {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    height: 388px;
  }
  .navbar-cta-btn {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    opacity: 1;
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar-logo {
    margin-left: 10px;
    margin-right: 80%;
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-navlink {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-link {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-btn-group {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-mobile-menu {
    height: 384px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-bottom: 0px;
  }
  .navbar-navlink6 {
    text-decoration: none;
  }
  .navbar-cta-btn {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-container {
    height: 66px;
  }
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .navbar-logo {
    margin-left: 0px;
    margin-right: 80%;
  }
  .navbar-burger-menu {
    margin-right: 20%;
  }
  .navbar-icon {
    margin-right: 10%;
  }
  .navbar-mobile-menu {
    height: 363px;
    padding: 16px;
  }
  .navbar-image {
    width: 50px;
    height: 50px;
  }
  .navbar-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .navbar-root-class-name1 {
    max-width: var(--dl-size-size-maxcontent);
  }
}

.addon-card-testimonial-card {
  width: var(--dl-size-size-maxcontent);
  margin: var(--dl-space-space-doubleunit);
  padding: var(--dl-space-space-fourunits);
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.addon-card-testimonial-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.addon-card-card-heading {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.addon-card-name-and-position {
  width: 520px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.addon-card-name {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.addon-card-position {
  color: var(--dl-color-gray-700);
}
.addon-card-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.addon-card-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.addon-card-text {
  font-size: 18px;
}
.addon-card-text3 {
  color: var(--dl-color-gray-500);
  text-align: left;
}



@media(max-width: 1600px) {
  .addon-card-card-heading {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 1200px) {
  .addon-card-name-and-position {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .addon-card-testimonial-card {
    align-items: flex-start;
  }
  .addon-card-card-heading {
    flex-wrap: wrap;
  }
  .addon-card-name-and-position {
    flex: 1;
    width: 158px;
  }
  .addon-card-name {
    font-size: 24px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .addon-card-position {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .addon-card-testimonial-card {
    width: var(--dl-size-size-maxcontent);
    max-width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .addon-card-card-heading {
    height: 145px;
    flex-direction: column;
  }
  .addon-card-name-and-position {
    width: 376px;
    height: 50%;
  }
  .addon-card-position {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .addon-card-testimonial-card {
    width: auto;
    max-width: 100%;
  }
  .addon-card-name-and-position {
    width: 100%;
  }
  .addon-card-name {
    font-size: 20px;
  }
  .addon-card-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}

.contact-contact {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-contact1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.contact-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.contact-heading {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-link {
  display: contents;
}
.contact-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link1 {
  display: contents;
}
.contact-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link2 {
  display: contents;
}
.contact-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-lottie-node {
  width: 500px;
  height: 500px;
}





@media(max-width: 991px) {
  .contact-contact1 {
    flex-wrap: wrap;
  }
  .contact-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .contact-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .contact-content-container {
    width: 100%;
    align-items: center;
  }
  .contact-contact1 {
    justify-content: center;
  }
  .contact-location-1 {
    align-items: flex-start;
  }
  .contact-lottie-node {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .contact-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contact-text {
    text-align: center;
  }
  .contact-contact1 {
    margin-bottom: 0px;
    justify-content: center;
  }
  .contact-location-1 {
    margin-right: 0px;
  }
  .contact-heading {
    display: none;
  }
  .contact-lottie-node {
    width: 400px;
    height: 400px;
    display: none;
  }
}

.addons-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.addons-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(156, 196, 229, 0.56) 0.00%,rgb(49, 29, 217) 100.00%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&w=1500');
}
.addons-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.addons-text03 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  margin-bottom: 32px;
}
.addons-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.addons-link {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.addons-link:hover {
  transform: scale(1.02);
}
.addons-link1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-white);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.addons-link1:hover {
  transform: scale(1.02);
}
.addons-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.addons-addons {
  flex: 1;
  width: 100%;
  height: 454px;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
.addons-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.addons-addons1 {
  flex: 1;
  width: 100%;
  height: 454px;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 1600px) {
  .addons-hero {
    background-image: linear-gradient(90deg, rgba(51, 148, 227, 0.56) 0.00%,rgb(49, 29, 217) 100.00%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&w=1500');
  }
  .addons-text03 {
    max-width: 100%;
  }
  .addons-link {
    font-size: 0.75rem;
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
    text-transform: uppercase;
  }
  .addons-link1 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .addons-addons {
    height: 537px;
    flex-direction: row;
    justify-content: center;
  }
  .addons-addons1 {
    height: 537px;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 1200px) {
  .addons-addons {
    height: 674px;
    flex-direction: row;
  }
  .addons-addons1 {
    height: 674px;
    flex-direction: row;
  }
}
@media(max-width: 991px) {
  .addons-hero {
    flex-direction: column;
  }
  .addons-text {
    text-align: center;
  }
  .addons-text03 {
    text-align: center;
  }
  .addons-addons {
    height: 749px;
    max-width: 100%;
    flex-direction: row;
  }
  .addons-addons1 {
    height: 749px;
    max-width: 100%;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .addons-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .addons-addons {
    height: 1107px;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .addons-addons1 {
    height: 1107px;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .addons-hero {
    width: 100%;
    padding: 32px;
    max-width: var(--dl-size-size-maxcontent);
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .addons-btn-group {
    flex-direction: column;
  }
  .addons-link1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .addons-container1 {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .addons-text09 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-right: var(--dl-space-space-doubleunit);
  }
  .addons-addons {
    padding-left: 0px;
    padding-right: 0px;
  }
  .addons-container2 {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .addons-text10 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-right: var(--dl-space-space-doubleunit);
  }
  .addons-addons1 {
    padding-left: 0px;
  }
}
