.contact-contact {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.contact-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.contact-heading {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-link {
  display: contents;
}
.contact-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link1 {
  display: contents;
}
.contact-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon02 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link2 {
  display: contents;
}
.contact-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-location-2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-social-links-container {
  display: none;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon16 {
  width: 24px;
  height: 24px;
}
.contact-lottie-node {
  width: 500px;
  height: 500px;
}


@media(max-width: 991px) {
  .contact-locations-container {
    flex-wrap: wrap;
  }
  .contact-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .contact-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .contact-content-container {
    width: 100%;
    align-items: center;
  }
  .contact-locations-container {
    justify-content: center;
  }
  .contact-location-1 {
    align-items: flex-start;
  }
  .contact-lottie-node {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .contact-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contact-text {
    text-align: center;
  }
  .contact-locations-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .contact-location-1 {
    margin-right: 0px;
  }
  .contact-social-links-container {
    align-self: center;
  }
  .contact-lottie-node {
    width: 400px;
    height: 400px;
  }
}

.download-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.download-download {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 100px;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.download-heading-container {
  width: 35%;
  height: 157px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.download-text {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.download-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.download-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.download-text01 {
  font-size: 18px;
}
.download-secondary-text {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.download-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.download-navbar-interactive {
  up: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.download-logo {
  width: 50px;
  height: 50px;
  margin-right: 20%;
  object-position: left;
}
.download-desktop-menu {
  display: flex;
}
.download-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  object-position: center;
}
.download-navlink {
  margin-left: 32px;
  text-decoration: none;
}
.download-link {
  margin-left: 32px;
  text-decoration: none;
}
.download-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.download-link1 {
  margin-left: 32px;
  text-decoration: none;
}
.download-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.download-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.download-icon {
  width: 16px;
  height: 16px;
}
.download-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.download-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.download-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.download-image {
  width: 50px;
  height: 50px;
}
.download-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-icon2 {
  width: 16px;
  height: 16px;
}
.download-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.download-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-text24 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.download-cta-btn1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.download-cta-btn1:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.download-text25 {
  font-size: 18px;
}
.download-cta-btn2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 20%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  object-position: right;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.download-cta-btn2:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.download-text28 {
  font-size: 18px;
}
@media(max-width: 1200px) {
  .download-mobile-menu {
    height: 326px;
  }
  .download-text24 {
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .download-download {
    margin-top: 100px;
    flex-direction: column;
  }
  .download-heading-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .download-secondary-text {
    color: var(--dl-color-gray-500);
  }
  .download-logo {
    margin-left: 50px;
    margin-right: 13px;
  }
  .download-navlink {
    text-decoration: none;
  }
  .download-link {
    text-decoration: none;
  }
  .download-navlink1 {
    text-decoration: none;
  }
  .download-link1 {
    text-decoration: none;
  }
  .download-cta-btn2 {
    margin-left: 56px;
    margin-right: 50px;
  }
}
@media(max-width: 767px) {
  .download-download {
    align-items: center;
  }
  .download-heading-container {
    align-items: center;
  }
  .download-text {
    align-self: center;
    text-align: center;
  }
  .download-secondary-text {
    align-self: center;
    text-align: center;
  }
  .download-navbar-interactive {
    opacity: 1;
    padding-left: 32px;
    padding-right: 32px;
  }
  .download-logo {
    margin-left: 10px;
    margin-right: 80%;
  }
  .download-desktop-menu {
    display: none;
  }
  .download-navlink {
    margin-left: var(--dl-space-space-unit);
  }
  .download-link {
    margin-left: var(--dl-space-space-unit);
  }
  .download-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .download-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .download-btn-group {
    display: none;
  }
  .download-burger-menu {
    display: flex;
  }
  .download-mobile-menu {
    height: 338px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .download-cta-btn2 {
    display: none;
  }
}
@media(max-width: 479px) {
  .download-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .download-secondary-text {
    text-align: center;
  }
  .download-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .download-logo {
    margin-left: 0px;
  }
  .download-icon {
    margin-right: 4%;
  }
  .download-mobile-menu {
    height: 315px;
    padding: 16px;
  }
  .download-image {
    width: 50px;
    height: 50px;
  }
  .download-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .download-cta-btn2 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
