.download-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.download-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.download-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.download-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.download-image {
  width: 50px;
  object-fit: cover;
}
.download-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.download-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.download-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.download-link02 {
  display: none;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.download-link03 {
  text-decoration: none;
}
.download-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.download-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.download-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.download-text {
  font-size: 18px;
}
.download-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.download-icon {
  width: 36px;
  height: 36px;
}
.download-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.download-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.download-image1 {
  width: 50px;
  object-fit: cover;
}
.download-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.download-icon02 {
  width: 24px;
  height: 24px;
}
.download-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.download-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.download-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.download-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.download-download {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.download-heading-container {
  width: 35%;
  height: 157px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.download-text03 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.download-cta-btn2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.download-cta-btn2:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.download-text04 {
  font-size: 18px;
}
.download-secondary-text {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
  margin-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.download-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.download-text19 {
  color: var(--dl-color-gray-500);
  display: none;
}
.download-contact {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.download-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.download-text20 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.download-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.download-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.download-heading {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.download-link07 {
  display: contents;
}
.download-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.download-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-link08 {
  display: contents;
}
.download-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.download-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-link09 {
  display: contents;
}
.download-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.download-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-location-2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.download-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.download-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.download-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.download-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.download-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-social-links-container {
  display: none;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.download-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-icon18 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.download-icon20 {
  width: 24px;
  height: 24px;
}
.download-image2 {
  width: 50%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.download-image2:hover {
  opacity: 0.98;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
}
.download-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
@media(max-width: 1200px) {
  .download-image2 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 991px) {
  .download-download {
    flex-direction: column;
  }
  .download-heading-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .download-secondary-text {
    color: var(--dl-color-gray-500);
  }
  .download-text-container {
    width: 100%;
  }
  .download-locations-container {
    flex-wrap: wrap;
  }
  .download-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .download-image2 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .download-links-container {
    display: none;
  }
  .download-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .download-icon {
    fill: var(--dl-color-gray-white);
  }
  .download-download {
    align-items: center;
  }
  .download-heading-container {
    align-items: center;
  }
  .download-text03 {
    align-self: center;
    text-align: center;
  }
  .download-secondary-text {
    text-align: center;
  }
  .download-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .download-content-container {
    width: 100%;
  }
  .download-text20 {
    align-self: center;
  }
  .download-location-1 {
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 30%;
    padding-right: 30%;
  }
  .download-image2 {
    width: 100%;
    display: none;
  }
}
@media(max-width: 479px) {
  .download-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .download-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .download-mobile-menu {
    display: none;
  }
  .download-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .download-cta-btn2 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .download-secondary-text {
    text-align: center;
  }
  .download-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .download-text20 {
    text-align: center;
  }
  .download-locations-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .download-location-1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .download-social-links-container {
    align-self: center;
  }
  .download-image2 {
    display: none;
  }
}
