.feature-card-feature-card {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1400px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-feature-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.feature-card-text {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-text1 {
  color: var(--dl-color-gray-700);
}
.feature-card-root-class-name {
  width: 100%;
}






@media(max-width: 479px) {
  .feature-card-feature-card {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .feature-card-text {
    font-style: normal;
    font-weight: 600;
  }
  .feature-card-root-class-name1 {
    width: auto;
    max-width: var(--dl-size-size-maxcontent);
    margin-left: var(--dl-space-space-doubleunit);
  }
  .feature-card-root-class-name4 {
    width: auto;
  }
}

.testimonial-card5-testimonial-card {
  width: 30%;
  margin: var(--dl-space-space-doubleunit);
  padding: var(--dl-space-space-fourunits);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.testimonial-card5-testimonial-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.testimonial-card5-card-heading {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.testimonial-card5-name-and-position {
  width: 520px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-card5-name {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.testimonial-card5-position {
  color: var(--dl-color-gray-700);
}
.testimonial-card5-stars-container {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.testimonial-card5-icon {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon02 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon04 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon06 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon08 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.testimonial-card5-text {
  color: var(--dl-color-gray-500);
  text-align: left;
}








@media(max-width: 1200px) {
  .testimonial-card5-name-and-position {
    width: 100%;
  }
  .testimonial-card5-stars-container {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .testimonial-card5-testimonial-card {
    align-items: flex-start;
  }
  .testimonial-card5-name {
    font-size: 24px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .testimonial-card5-testimonial-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .testimonial-card5-stars-container {
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .testimonial-card5-testimonial-card {
    width: 100%;
  }
  .testimonial-card5-name {
    font-size: 20px;
  }
}

.testimonial-card4-testimonial-card {
  width: 30%;
  margin: var(--dl-space-space-doubleunit);
  padding: var(--dl-space-space-fourunits);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.testimonial-card4-testimonial-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.testimonial-card4-card-heading {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.testimonial-card4-name-and-position {
  width: 520px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-card4-name {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.testimonial-card4-position {
  color: var(--dl-color-gray-700);
}
.testimonial-card4-stars-container {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.testimonial-card4-icon {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card4-icon02 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card4-icon04 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card4-icon06 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card4-icon08 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.testimonial-card4-text {
  color: var(--dl-color-gray-500);
  text-align: left;
}

@media(max-width: 1200px) {
  .testimonial-card4-name-and-position {
    width: 100%;
  }
  .testimonial-card4-stars-container {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .testimonial-card4-testimonial-card {
    align-items: flex-start;
  }
  .testimonial-card4-name {
    font-size: 24px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .testimonial-card4-testimonial-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .testimonial-card4-stars-container {
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .testimonial-card4-testimonial-card {
    width: 100%;
  }
  .testimonial-card4-name {
    font-size: 20px;
  }
}

.contact-contact {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.contact-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.contact-heading {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-link {
  display: contents;
}
.contact-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link1 {
  display: contents;
}
.contact-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon02 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link2 {
  display: contents;
}
.contact-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-location-2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-social-links-container {
  display: none;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon16 {
  width: 24px;
  height: 24px;
}
.contact-lottie-node {
  width: 500px;
  height: 500px;
}


@media(max-width: 991px) {
  .contact-locations-container {
    flex-wrap: wrap;
  }
  .contact-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .contact-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .contact-content-container {
    width: 100%;
    align-items: center;
  }
  .contact-locations-container {
    justify-content: center;
  }
  .contact-location-1 {
    align-items: flex-start;
  }
  .contact-lottie-node {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .contact-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contact-text {
    text-align: center;
  }
  .contact-locations-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .contact-location-1 {
    margin-right: 0px;
  }
  .contact-social-links-container {
    align-self: center;
  }
  .contact-lottie-node {
    width: 400px;
    height: 400px;
    display: none;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  up: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-logo {
  width: 50px;
  height: 50px;
  margin-right: 20%;
  object-position: left;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  object-position: center;
}
.home-link {
  margin-left: 32px;
  text-decoration: none;
}
.home-link1 {
  margin-left: 32px;
  text-decoration: none;
}
.home-link2 {
  margin-left: 32px;
  text-decoration: none;
}
.home-navlink {
  margin-left: 32px;
  text-decoration: none;
}
.home-link3 {
  margin-left: 32px;
  text-decoration: none;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image {
  width: 50px;
  height: 50px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: 16px;
  height: 16px;
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-text {
  font-size: 18px;
}
.home-cta-btn1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 20%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  object-position: right;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-cta-btn1:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-text03 {
  font-size: 18px;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 100px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text08 {
  color: var(--dl-color-gray-500);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-cta-btn2 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-cta-btn2:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-image1 {
  width: 50%;
  object-fit: contain;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text11 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text14 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-feature-card {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-feature-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-image2 {
  height: 130px;
  z-index: 10;
  object-fit: cover;
  margin-bottom: 20px;
}
.home-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text17 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-feature-card1 {
  width: 30%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-feature-card1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-image3 {
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
}
.home-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text20 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-feature-card2 {
  width: 30%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-feature-card2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-lottie-node {
  height: 130px;
  margin-bottom: 20px;
}
.home-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text23 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-features1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.home-text26 {
  font-size: 3rem;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-lottie-node1 {
  width: 450px;
  height: 450px;
  min-width: 450px;
  margin-left: var(--dl-space-space-fourunits);
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-about-us {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-heading-container1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text27 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-secondary-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text30 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
}
.home-text31 {
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-reviews {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-text40 {
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-cta-btn3 {
  color: var(--dl-color-gray-white);
  width: 50%;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  margin-bottom: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-cta-btn3:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-cards-container1 {
  width: 100%;
  height: 924px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
@media(max-width: 1600px) {
  .home-cards-container1 {
    height: 1056px;
  }
}
@media(max-width: 1200px) {
  .home-logo {
    margin-right: 0px;
  }
  .home-cta-btn1 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-fiveunits);
  }
  .home-cards-container1 {
    flex: 0 0 auto;
    flex-direction: column;
  }
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-logo {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-link {
    margin-left: 0px;
  }
  .home-mobile-menu {
    height: 388px;
  }
  .home-cta-btn1 {
    margin-left: 10%;
  }
  .home-hero {
    width: 100%;
    flex-direction: column-reverse;
  }
  .home-hero-text-container {
    width: 80%;
  }
  .home-image1 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card {
    align-self: center;
  }
  .home-features1 {
    align-items: center;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-about-us {
    flex-direction: column;
  }
  .home-heading-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text-container {
    width: 100%;
  }
  .home-cards-container1 {
    height: 1299px;
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    opacity: 1;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-logo {
    margin-left: 10px;
    margin-right: 80%;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-link {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link2 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-navlink {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link3 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-mobile-menu {
    height: 384px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-bottom: 0px;
  }
  .home-navlink1 {
    text-decoration: none;
  }
  .home-cta-btn1 {
    display: none;
  }
  .home-heading {
    text-align: center;
  }
  .home-text08 {
    text-align: center;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-feature-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card2 {
    width: 70%;
  }
  .home-features1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text26 {
    text-align: center;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-about-us {
    align-items: center;
  }
  .home-heading-container1 {
    align-items: center;
  }
  .home-text27 {
    text-align: center;
  }
  .home-secondary-text {
    text-align: center;
  }
  .home-text40 {
    text-align: center;
  }
  .home-cards-container1 {
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-logo {
    margin-left: 20%;
    margin-right: 80%;
  }
  .home-burger-menu {
    margin-right: 20%;
  }
  .home-icon {
    margin-right: 10%;
  }
  .home-mobile-menu {
    height: 363px;
    padding: 16px;
  }
  .home-image {
    width: 50px;
    height: 50px;
  }
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero {
    margin-top: 40px;
  }
  .home-hero-text-container {
    width: 100%;
    margin-left: 0px;
  }
  .home-cta-btn2 {
    width: 100%;
    align-self: center;
  }
  .home-image1 {
    width: 100%;
  }
  .home-feature-card {
    width: 100%;
  }
  .home-feature-card1 {
    width: 100%;
  }
  .home-feature-card2 {
    width: 100%;
  }
  .home-features1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text26 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container4 {
    grid-template-columns: 1fr;
  }
  .home-lottie-node1 {
    display: none;
    margin-left: 0px;
  }
  .home-secondary-text {
    text-align: center;
  }
  .home-text30 {
    color: var(--dl-color-gray-500);
    font-size: 16px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
  }
  .home-text31 {
    text-decoration: none;
  }
  .home-text32 {
    text-decoration: none;
  }
  .home-text40 {
    text-align: center;
  }
  .home-cta-btn3 {
    width: 100%;
    align-self: center;
  }
}
