.testimonial-card5-testimonial-card {
  width: 30%;
  margin: var(--dl-space-space-doubleunit);
  padding: var(--dl-space-space-fourunits);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.testimonial-card5-testimonial-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.testimonial-card5-card-heading {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.testimonial-card5-name-and-position {
  width: 520px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-card5-name {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.testimonial-card5-position {
  color: var(--dl-color-gray-700);
}
.testimonial-card5-stars-container {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.testimonial-card5-icon {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon02 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon04 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon06 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.testimonial-card5-icon08 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.testimonial-card5-text {
  color: var(--dl-color-gray-500);
  text-align: left;
}






@media(max-width: 1200px) {
  .testimonial-card5-name-and-position {
    width: 100%;
  }
  .testimonial-card5-stars-container {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .testimonial-card5-testimonial-card {
    align-items: flex-start;
  }
  .testimonial-card5-name {
    font-size: 24px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .testimonial-card5-testimonial-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .testimonial-card5-stars-container {
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .testimonial-card5-testimonial-card {
    width: 100%;
  }
  .testimonial-card5-name {
    font-size: 20px;
  }
}

.home1-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home1-navbar-interactive {
  up: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home1-logo {
  width: 50px;
  height: 50px;
  margin-right: 20%;
  object-position: left;
}
.home1-desktop-menu {
  display: flex;
}
.home1-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  object-position: center;
}
.home1-link {
  margin-left: 32px;
  text-decoration: none;
}
.home1-link01 {
  margin-left: 32px;
  text-decoration: none;
}
.home1-link02 {
  margin-left: 32px;
  text-decoration: none;
}
.home1-navlink {
  margin-left: 32px;
  text-decoration: none;
}
.home1-link03 {
  margin-left: 32px;
  text-decoration: none;
}
.home1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home1-icon {
  width: 16px;
  height: 16px;
}
.home1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home1-image {
  width: 50px;
  height: 50px;
}
.home1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home1-icon002 {
  width: 16px;
  height: 16px;
}
.home1-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home1-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home1-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-text {
  font-size: 18px;
}
.home1-cta-btn1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 20%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  object-position: right;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home1-cta-btn1:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-text03 {
  font-size: 18px;
}
.home1-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 100px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home1-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home1-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-text08 {
  color: var(--dl-color-gray-500);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-cta-btn2 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home1-cta-btn2:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-image1 {
  width: 50%;
  object-fit: contain;
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home1-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
}
.home1-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home1-text11 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home1-text14 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home1-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home1-feature-card {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-feature-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-image2 {
  height: 130px;
  z-index: 10;
  object-fit: cover;
  margin-bottom: 20px;
}
.home1-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-text17 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home1-feature-card1 {
  width: 30%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-feature-card1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-image3 {
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
}
.home1-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-text20 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home1-feature-card2 {
  width: 30%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-feature-card2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-image4 {
  width: px;
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
}
.home1-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-text23 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home1-about-us {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home1-heading-container1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home1-text26 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-secondary-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home1-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home1-text29 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
}
.home1-text30 {
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home1-reviews {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home1-text39 {
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home1-cta-btn3 {
  color: var(--dl-color-gray-white);
  width: 50%;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  margin-bottom: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home1-cta-btn3:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-cards-container1 {
  width: 100%;
  height: 790px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home1-testimonial-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position {
  width: 414px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position {
  color: var(--dl-color-gray-700);
}
.home1-stars-container {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon004 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon006 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon008 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon010 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon012 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-text40 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading1 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position1 {
  width: 414px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name1 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position1 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container1 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon014 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon016 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon018 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon020 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon022 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-text43 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading2 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name2 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position2 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container2 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon024 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon026 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon028 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon030 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon032 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.home1-text50 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card3 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card3:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading3 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position3 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name3 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position3 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container3 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon034 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon036 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon038 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon040 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon042 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.home1-text51 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card4 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card4:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading4 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position4 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home1-text57 {
  text-transform: lowercase;
}
.home1-text58 {
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;
  text-decoration: none;
}
.home1-position4 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container4 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon044 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon046 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon048 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon050 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon052 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.home1-text59 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card5 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card5:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading5 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position5 {
  width: 414px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name5 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position5 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container5 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon054 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon056 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon058 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon060 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon062 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-text60 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card6 {
  width: 30%;
  height: 209px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card6:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading6 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position6 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name6 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position6 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container6 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon064 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon066 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon068 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon070 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon072 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.home1-text61 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-testimonial-card7 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home1-testimonial-card7:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home1-card-heading7 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-name-and-position7 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-name7 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home1-position7 {
  color: var(--dl-color-gray-700);
}
.home1-stars-container7 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon074 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon076 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon078 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon080 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home1-icon082 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.home1-text64 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.home1-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home1-contact {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home1-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text65 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home1-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home1-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home1-heading4 {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home1-link08 {
  display: contents;
}
.home1-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.home1-icon084 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-link09 {
  display: contents;
}
.home1-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.home1-icon086 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-link10 {
  display: contents;
}
.home1-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.home1-icon088 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-location-2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home1-heading5 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home1-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home1-icon090 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home1-icon092 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home1-icon094 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-social-links-container {
  display: none;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.home1-icon096 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-icon098 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home1-icon100 {
  width: 24px;
  height: 24px;
}
.home1-image5 {
  width: 50%;
  z-index: 10;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-image5:hover {
  opacity: 0.98;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
}
@media(max-width: 1600px) {
  .home1-cards-container1 {
    height: 400px;
  }
  .home1-name-and-position2 {
    width: 388px;
  }
  .home1-name-and-position3 {
    width: 388px;
  }
  .home1-name-and-position6 {
    width: 388px;
  }
}
@media(max-width: 1200px) {
  .home1-name-and-position {
    width: 100%;
  }
  .home1-name {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home1-name-and-position1 {
    width: 100%;
  }
  .home1-name1 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home1-name-and-position2 {
    width: 319px;
  }
  .home1-stars-container2 {
    margin-top: var(--dl-space-space-unit);
  }
  .home1-name-and-position3 {
    width: 319px;
  }
  .home1-stars-container3 {
    margin-top: var(--dl-space-space-unit);
  }
  .home1-name-and-position4 {
    width: 100%;
  }
  .home1-stars-container4 {
    margin-top: var(--dl-space-space-unit);
  }
  .home1-name-and-position5 {
    width: 100%;
  }
  .home1-name5 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home1-name-and-position6 {
    width: 319px;
  }
  .home1-stars-container6 {
    margin-top: var(--dl-space-space-unit);
  }
  .home1-name-and-position7 {
    width: 100%;
  }
  .home1-stars-container7 {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .home1-logo {
    margin-left: 50px;
    margin-right: 13px;
  }
  .home1-mobile-menu {
    height: 388px;
  }
  .home1-cta-btn1 {
    margin-left: 56px;
    margin-right: 50px;
  }
  .home1-hero {
    width: 100%;
    flex-direction: column-reverse;
  }
  .home1-hero-text-container {
    width: 80%;
  }
  .home1-image1 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-feature-card {
    align-self: center;
  }
  .home1-about-us {
    flex-direction: column;
  }
  .home1-heading-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-text-container {
    width: 100%;
  }
  .home1-cards-container1 {
    height: 310px;
  }
  .home1-testimonial-card {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card1 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card2 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card3 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card4 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card5 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card6 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-testimonial-card7 {
    height: 100%;
    align-items: flex-start;
  }
  .home1-locations-container {
    flex-wrap: wrap;
  }
  .home1-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-image5 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .home1-navbar-interactive {
    opacity: 1;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home1-logo {
    margin-left: 10px;
    margin-right: 80%;
  }
  .home1-desktop-menu {
    display: none;
  }
  .home1-link {
    margin-left: var(--dl-space-space-unit);
  }
  .home1-link01 {
    margin-left: var(--dl-space-space-unit);
  }
  .home1-link02 {
    margin-left: var(--dl-space-space-unit);
  }
  .home1-navlink {
    margin-left: var(--dl-space-space-unit);
  }
  .home1-link03 {
    margin-left: var(--dl-space-space-unit);
  }
  .home1-btn-group {
    display: none;
  }
  .home1-burger-menu {
    display: flex;
  }
  .home1-mobile-menu {
    height: 384px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-bottom: 0px;
  }
  .home1-navlink1 {
    text-decoration: none;
  }
  .home1-cta-btn1 {
    display: none;
  }
  .home1-heading {
    text-align: center;
  }
  .home1-text08 {
    text-align: center;
  }
  .home1-heading-container {
    width: 100%;
  }
  .home1-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home1-feature-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-feature-card2 {
    width: 70%;
  }
  .home1-about-us {
    align-items: center;
  }
  .home1-heading-container1 {
    align-items: center;
  }
  .home1-text26 {
    text-align: center;
  }
  .home1-secondary-text {
    text-align: center;
  }
  .home1-text39 {
    text-align: center;
  }
  .home1-cards-container1 {
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .home1-testimonial-card {
    width: 70%;
    height: 300px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container {
    justify-content: flex-start;
  }
  .home1-testimonial-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container1 {
    justify-content: flex-start;
  }
  .home1-testimonial-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container2 {
    justify-content: flex-start;
  }
  .home1-testimonial-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container3 {
    justify-content: flex-start;
  }
  .home1-testimonial-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container4 {
    justify-content: flex-start;
  }
  .home1-testimonial-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container5 {
    justify-content: flex-start;
  }
  .home1-text60 {
    color: var(--dl-color-gray-500);
  }
  .home1-testimonial-card6 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container6 {
    justify-content: flex-start;
  }
  .home1-testimonial-card7 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home1-stars-container7 {
    justify-content: flex-start;
  }
  .home1-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .home1-content-container {
    width: 100%;
  }
  .home1-image5 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home1-logo {
    margin-left: 10%;
  }
  .home1-burger-menu {
    margin-right: 10%;
  }
  .home1-icon {
    margin-right: 20%;
  }
  .home1-mobile-menu {
    height: 363px;
    padding: 16px;
  }
  .home1-image {
    width: 50px;
    height: 50px;
  }
  .home1-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home1-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home1-hero {
    margin-top: 40px;
  }
  .home1-hero-text-container {
    width: 100%;
    margin-left: 0px;
  }
  .home1-cta-btn2 {
    width: 100%;
    align-self: center;
  }
  .home1-image1 {
    width: 100%;
  }
  .home1-feature-card {
    width: 100%;
  }
  .home1-feature-card1 {
    width: 100%;
  }
  .home1-feature-card2 {
    width: 100%;
  }
  .home1-secondary-text {
    text-align: center;
  }
  .home1-text29 {
    color: var(--dl-color-gray-500);
    font-size: 16px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
  }
  .home1-text30 {
    text-decoration: none;
  }
  .home1-text31 {
    text-decoration: none;
  }
  .home1-text39 {
    text-align: center;
  }
  .home1-cta-btn3 {
    width: 100%;
    align-self: center;
  }
  .home1-testimonial-card {
    width: 100%;
  }
  .home1-testimonial-card1 {
    width: 100%;
  }
  .home1-testimonial-card2 {
    width: 100%;
  }
  .home1-name2 {
    font-size: 20px;
  }
  .home1-testimonial-card3 {
    width: 100%;
  }
  .home1-name3 {
    font-size: 20px;
  }
  .home1-testimonial-card4 {
    width: 100%;
  }
  .home1-testimonial-card5 {
    width: 100%;
  }
  .home1-testimonial-card6 {
    width: 100%;
  }
  .home1-name6 {
    font-size: 20px;
  }
  .home1-testimonial-card7 {
    width: 100%;
  }
  .home1-name7 {
    font-size: 20px;
  }
  .home1-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home1-text65 {
    text-align: center;
  }
  .home1-locations-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .home1-location-1 {
    margin-right: 0px;
  }
  .home1-social-links-container {
    align-self: center;
  }
  .home1-image5 {
    display: none;
  }
}
