.review-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.review-navbar-interactive {
  up: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.review-logo {
  width: 50px;
  height: 50px;
  margin-right: 20%;
  object-position: left;
}
.review-desktop-menu {
  display: flex;
}
.review-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  object-position: center;
}
.review-navlink {
  margin-left: 32px;
  text-decoration: none;
}
.review-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.review-link {
  margin-left: 32px;
  text-decoration: none;
}
.review-link1 {
  margin-left: 32px;
  text-decoration: none;
}
.review-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.review-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.review-icon {
  width: 16px;
  height: 16px;
}
.review-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.review-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.review-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.review-image {
  width: 50px;
  height: 50px;
}
.review-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-icon02 {
  width: 16px;
  height: 16px;
}
.review-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.review-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.review-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.review-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.review-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.review-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.review-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.review-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.review-text {
  font-size: 18px;
}
.review-cta-btn1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 20%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  object-position: right;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.review-cta-btn1:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.review-text03 {
  font-size: 18px;
}
.review-form {
  width: 1300px;
  height: 468px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.review-text06 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.review-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.review-textinput {
  margin-right: var(--dl-space-space-doubleunit);
}
.review-textinput1 {
  width: 256px;
  height: 41px;
}
.review-container4 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.review-select {
  padding-top: var(--dl-space-space-unit);
}
.review-textarea {
  width: 100%;
  height: 283px;
  margin-top: var(--dl-space-space-doubleunit);
}
.review-button {
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
}
.review-button:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.review-contact {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.review-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.review-text07 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.review-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.review-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.review-heading {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.review-link3 {
  display: contents;
}
.review-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.review-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-link4 {
  display: contents;
}
.review-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.review-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-link5 {
  display: contents;
}
.review-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.review-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-location-2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.review-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.review-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.review-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.review-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.review-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-social-links-container {
  display: none;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.review-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-icon18 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.review-icon20 {
  width: 24px;
  height: 24px;
}
.review-image1 {
  width: 50%;
  z-index: 10;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.review-image1:hover {
  opacity: 0.98;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
}
@media(max-width: 1600px) {
  .review-form {
    width: 100%;
    height: 469px;
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .review-textarea {
    height: 315px;
  }
}
@media(max-width: 991px) {
  .review-logo {
    margin-left: 50px;
    margin-right: 13px;
  }
  .review-navlink {
    text-decoration: none;
  }
  .review-navlink1 {
    text-decoration: none;
  }
  .review-link {
    text-decoration: none;
  }
  .review-mobile-menu {
    height: 354px;
  }
  .review-cta-btn1 {
    margin-left: 56px;
    margin-right: 50px;
  }
  .review-locations-container {
    flex-wrap: wrap;
  }
  .review-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .review-image1 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .review-navbar-interactive {
    opacity: 1;
    padding-left: 32px;
    padding-right: 32px;
  }
  .review-logo {
    margin-left: 10px;
    margin-right: 80%;
  }
  .review-desktop-menu {
    display: none;
  }
  .review-navlink {
    margin-left: var(--dl-space-space-unit);
  }
  .review-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .review-link {
    margin-left: var(--dl-space-space-unit);
  }
  .review-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .review-btn-group {
    display: none;
  }
  .review-burger-menu {
    display: flex;
  }
  .review-mobile-menu {
    height: 361px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .review-cta-btn1 {
    display: none;
  }
  .review-form {
    width: 100%;
    height: 606px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .review-container3 {
    height: 104px;
    align-items: flex-start;
    margin-bottom: 29px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .review-textinput {
    margin-left: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .review-textinput1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .review-select {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .review-textarea {
    width: 100%;
    height: 345px;
    margin-left: var(--dl-space-space-doubleunit);
  }
  .review-button {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .review-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .review-content-container {
    width: 100%;
  }
  .review-image1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .review-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .review-logo {
    margin-left: 10%;
  }
  .review-burger-menu {
    margin-right: 10%;
  }
  .review-icon {
    margin-right: 20%;
  }
  .review-mobile-menu {
    height: 325px;
    padding: 16px;
  }
  .review-image {
    width: 50px;
    height: 50px;
  }
  .review-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .review-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .review-form {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .review-text06 {
    text-align: center;
  }
  .review-container3 {
    width: 323px;
    height: 83px;
  }
  .review-textinput1 {
    height: 62px;
  }
  .review-textarea {
    width: 80%;
  }
  .review-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .review-text07 {
    text-align: center;
  }
  .review-locations-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .review-location-1 {
    margin-right: 0px;
  }
  .review-social-links-container {
    align-self: center;
  }
  .review-image1 {
    display: none;
  }
}
