.success-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.success-lottie-node {
  width: 1746px;
  height: 812px;
  max-width: 100%;
}
@media(max-width: 991px) {
  .success-container {
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .success-container {
    justify-content: flex-start;
  }
}
