<div>
  <link href="./addon-card.css" rel="stylesheet" />
  <div class="addon-card-testimonial-card">
    <div class="addon-card-card-heading">
      <div class="addon-card-name-and-position">
        <span class="addon-card-name"><span>Addon name</span></span>
        <span class="addon-card-position Card-Text">
          <span>Addon Category</span>
        </span>
      </div>
      <a
        href="https://example.com"
        target="_blank"
        rel="noreferrer noopener"
        class="addon-card-cta-btn Anchor button"
      >
        <span class="addon-card-text">
          <span><span>DOWNLOAD</span></span>
          <br />
        </span>
      </a>
    </div>
    <span class="addon-card-text3"><span>Addon description</span></span>
  </div>
</div>
