.contact-contact {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.contact-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.contact-heading {
  display: none;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-link {
  display: contents;
}
.contact-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link1 {
  display: contents;
}
.contact-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon02 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link2 {
  display: contents;
}
.contact-github {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-location-2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-social-links-container {
  display: none;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon16 {
  width: 24px;
  height: 24px;
}
.contact-lottie-node {
  width: 500px;
  height: 500px;
}


@media(max-width: 991px) {
  .contact-locations-container {
    flex-wrap: wrap;
  }
  .contact-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .contact-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .contact-content-container {
    width: 100%;
    align-items: center;
  }
  .contact-locations-container {
    justify-content: center;
  }
  .contact-location-1 {
    align-items: flex-start;
  }
  .contact-lottie-node {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .contact-content-container {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contact-text {
    text-align: center;
  }
  .contact-locations-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .contact-location-1 {
    margin-right: 0px;
  }
  .contact-social-links-container {
    align-self: center;
  }
  .contact-lottie-node {
    width: 400px;
    height: 400px;
    display: none;
  }
}
