.navbar-container {
  width: 100%;
  height: 116px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-navbar-interactive {
  up: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
}
.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: 20%;
  object-position: left;
}
.navbar-desktop-menu {
  display: flex;
}
.navbar-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  object-position: center;
}
.navbar-navlink {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-link {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-link1 {
  margin-left: 32px;
  text-decoration: none;
}
.navbar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
  width: 16px;
  height: 16px;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.navbar-image {
  width: 50px;
  height: 50px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon2 {
  width: 16px;
  height: 16px;
}
.navbar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 20%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  object-position: right;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navbar-cta-btn:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navbar-text {
  font-size: 18px;
}







@media(max-width: 1600px) {
  .navbar-navbar-interactive {
    max-width: 100%;
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: 0px;
  }
  .navbar-cta-btn {
    margin-left: 0%;
  }
}
@media(max-width: 1200px) {
  .navbar-navbar-interactive {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: 0px;
  }
  .navbar-cta-btn {
    align-self: flex-start;
    margin-left: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: var(--dl-space-space-unit);
  }
  .navbar-navlink {
    margin-left: 0px;
  }
  .navbar-link {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    height: 388px;
  }
  .navbar-cta-btn {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    opacity: 1;
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar-logo {
    margin-left: 10px;
    margin-right: 80%;
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-navlink {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-link {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-btn-group {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-mobile-menu {
    height: 384px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-bottom: 0px;
  }
  .navbar-navlink6 {
    text-decoration: none;
  }
  .navbar-cta-btn {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-container {
    height: 66px;
  }
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .navbar-logo {
    margin-left: 0px;
    margin-right: 80%;
  }
  .navbar-burger-menu {
    margin-right: 20%;
  }
  .navbar-icon {
    margin-right: 10%;
  }
  .navbar-mobile-menu {
    height: 363px;
    padding: 16px;
  }
  .navbar-image {
    width: 50px;
    height: 50px;
  }
  .navbar-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .navbar-root-class-name1 {
    max-width: var(--dl-size-size-maxcontent);
  }
}
