<div>
  <link href="./navbar.css" rel="stylesheet" />
  <div class="navbar-container">
    <header data-thq="thq-navbar" class="navbar-navbar-interactive">
      <img alt="logo" src="/playground_assets/icon.ico" class="navbar-logo" />
      <div
        data-thq="thq-navbar-nav"
        data-role="Nav"
        class="navbar-desktop-menu"
      >
        <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="navbar-nav">
          <a href="index.html" class="navbar-navlink"><span>Home</span></a>
          <a
            href="https://stickypiston-development.github.io/typegreek-docs/"
            class="navbar-link"
          >
            <span>Documentation</span>
          </a>
          <a href="addons.html" class="navbar-navlink1"><span>Addons</span></a>
          <a href="reviews.html" class="navbar-navlink2">
            <span>Reviews</span>
          </a>
          <a href="contribute.html" class="navbar-navlink3">
            <span>Contribute</span>
          </a>
          <a href="#contact" class="navbar-link1"><span>Contact</span></a>
        </nav>
      </div>
      <div data-thq="thq-navbar-btn-group" class="navbar-btn-group"></div>
      <div data-thq="thq-burger-menu" class="navbar-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navbar-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="navbar-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="navbar-nav1">
          <div class="navbar-container1">
            <img
              alt="image"
              src="/playground_assets/icon.ico"
              class="navbar-image"
            />
            <div data-thq="thq-close-menu" class="navbar-menu-close">
              <svg viewBox="0 0 1024 1024" class="navbar-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="navbar-nav2"
          >
            <a href="index.html" class="navbar-navlink4"><span>Home</span></a>
            <a
              href="https://stickypiston-development.github.io/typegreek-docs/"
              target="_blank"
              rel="noreferrer noopener"
              class="navbar-link2"
            >
              <span>Documentation</span>
            </a>
            <a href="addons.html" class="navbar-navlink5">
              <span>Addons</span>
            </a>
            <a href="reviews.html" class="navbar-navlink6">
              <span>Reviews</span>
            </a>
            <a href="contribute.html" class="navbar-navlink7">
              <span>Contribute</span>
            </a>
            <a href="#contact" class="navbar-link3"><span>Contact</span></a>
          </nav>
        </div>
      </div>
      <a href="download.html" class="navbar-cta-btn button Anchor">
        <span class="navbar-text">
          <span><span>DOWNLOAD</span></span>
          <br />
        </span>
      </a>
    </header>
  </div>
</div>
